* {
    color: white;
}

/* .rcw-message > .rcw-response {
    color: black;
} */

/* .rcw-conversation-container > .rcw-header {
    /* background-color: red; */
    /* color: black;
} */

/* [class^="rcw"] {
    color: black; 
} */

[class^="rcw"], [class*=" rcw"] {
    color: black !important;
}

/* body {
    color: black;
} */