.Table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  /* background-color: #f4f4f4; */
}

table {
  border-collapse: collapse;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px; /* Space between the table and buttons */
  table-layout: auto;
  width: auto;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

td {
  background-color: #fff;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  width: 100%;
  color: #333;
}

.search-items {
  border: 0.5px solid black;
}

.save-btn, .add-btn, .done-btn {
  padding: 10px 20px;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007bff;
}

.add-btn {
  background-color: #28a745;
}

.done-btn {
  background-color: orange;
}

.search-items {
  width: 100%; /* Full width of the cell */
  padding: 6px 10px; /* Slightly smaller padding to fit nicely */  
  font-size: 2rem;
  background-color: #fff;
}


input[type="text"] {
  width: 100%; /* Full width of the cell */
  padding: 6px 10px; /* Slightly smaller padding to fit nicely */
  border: none;
  font-size: inherit; /* Inherits font-size from the table */
  text-align: center; /* Center text inside the input */
  background-color: transparent; /* Maintains the cell's background */
  color: inherit; /* Inherits text color from the table */
  border-radius: 4px; /* Optional: adds slight rounding to inputs */
  text-overflow:  ellipsis;
}

.meal-input {
  width: 100%; /* Full width of the cell */
  padding: 6px 10px; /* Slightly smaller padding to fit nicely */
  border: none;
  font-size: inherit; /* Inherits font-size from the table */
  text-align: center; /* Center text inside the input */
  background-color: transparent; /* Maintains the cell's background */
  color: inherit; /* Inherits text color from the table */
  border-radius: 4px; /* Optional: adds slight rounding to inputs */
  text-overflow:  ellipsis;
}

.meal-input-focus {
  width: auto; /* Full width of the cell */
  padding: 6px 10px; /* Slightly smaller padding to fit nicely */
  border: none;
  font-size: inherit; /* Inherits font-size from the table */
  text-align: center; /* Center text inside the input */
  background-color: transparent; /* Maintains the cell's background */
  color: inherit; /* Inherits text color from the table */
  border-radius: 4px; /* Optional: adds slight rounding to inputs */
}
